body {
background-color: #EDF3F6 !important;
}

h1 {
  font-size: 100px !important;
  display: block;
  margin: auto;
  width: 21%;
  font-family: 'Acme', sans-serif;
}

p {
  font-size: 22px !important;
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

.carousel {
border: 4px solid #1A1110;
border-radius: 5px;
display: block;
margin: auto;
width: 40% !important;
height: 15% !important;
}


.footer-bar{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 70px;
}

#Trinity-logo {
  position: absolute;
  width: 20%;
  top: 13px;
  left: 35%;
}

#X-Footer-png {
  position: absolute;
  width: 1.5%;
  top: 15px;
  left: 57%;
}

#Footer-Teach-logo {
  position: absolute;
  top: 10px;
  left: 61%;
}
