body {
background-color: #EDF3F6 !important;
padding-bottom: 70px !important;
position: relative;
min-height: 100vh;
}

h1 {
  font-size: 100px !important;
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: 'Acme', sans-serif;
}

p {
  font-size: 21px !important;
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
}

footer {
position: absolute;
bottom: 0;
width: 60%;
}

.carousel {
display: block;
margin: auto;
width: 50% !important;
height: 15% !important;
}

.card {
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #6da7cc;
  background-color: white !important;
}

.card2 {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 10px;
  background-color: #6da7cc !important;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.navbar
{
  font-size: larger;
  background-color: #78797a !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

img {
  border-radius: 10px;
}

.navbar
{
  font-size: larger;
  background-color: #78797a !important;
}
